<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/adv.css">
</head>
<body>
    <div class="wrapper">
        <h2>ShiroUI</h2>
        <div class="container" id="dynamic-container">
            <!-- Elements will be inserted here -->
        </div>
    </div>
    <div class="wrapper">
        <div class="img-container">
            <img src="" alt="" srcset="">
        </div>
        <div class="text info"></div> 
    </div>
    <div class="wrapper">
        <div class="output-container"></div>

    </div>
    <script src="/static/js/adv.js"></script>
</body>
</html>