<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draggable Interface</title>
    <link rel="stylesheet" href="/static/css/easyrun.css">
</head>
<body>
    <div class="up-container">
        <div class="input-placeholder"></div>
        <div class="input-placeholder"></div>
        
        <div class="section-title">Prompt And Parameters</div>
        <div class="drag-handle-up" id="dragHandleUp"></div>
    </div>
    
    <div class="down-container">
        <div class="drag-handle-down" id="dragHandleDown"></div>
        <div class="section-title bottom">Outputs</div>
        
        <div class="output-container">
            <div class="output-box"></div>
            <div class="output-box"></div>
        </div>
    </div>

    <script src="/static/js/easyrun.js"></script>
</body>
</html>