<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;400;700&display=swap" rel="stylesheet">
<body>
<section>
    <textarea placeholder="Prompt" name="prompt" id=""></textarea>
    <textarea placeholder="Parameters" name="parameters" id=""></textarea>
    <button id="generate"></button>
</section>
    <div class="others">
        <div class="text">Styles And Others</div>
        <div class="styles">
            <div class="style">Style 1</div>
            <div class="style">Style 2</div>
            <div class="style">Style 3</div>
            <div class="style">Style 4</div>
            <div class="style">Style 5</div>
            <div class="style">Style 6</div>
            <div class="style">Style 7</div>
        </div>
        <div class="output">
            <div class="image">img</div>
            <div class="image">img</div>
            <div class="image">img</div>
            <div class="image">img</div>
            <div class="image">img</div>

        </div>
    </div>
</body>
</html>